@page "/"

<h1>jHN</h1>

<p>Consume the latest tech news, questions and projects.</p>
<br/>

<h2>Useful links</h2>

<ul>
    <li><a target="_blank" href="https://www.indiehackers.com/">Indie Hackers</a></li>
    <li><a target="_blank" href="https://www.producthunt.com/">Product Hunt</a></li>
    <li><a target="_blank" href="https://sideprojects.net/">SideProjects.net</a></li>
    <li><a target="_blank" href="https://www.youtube.com/results?search_query=site%3Ayoutube.com&sp=EgIIAg%253D%253D">YouTube - Most viewed</a></li>
    <li><a target="_blank" href="https://www.expireddomains.net/backorder-expired-domains/">Expired domains</a></li>
</ul>
