@page "/links"

<h1>Useful links</h1>

<p>Ideas</p>
<ul>
    <li><a target="_blank" href="https://www.indiehackers.com/">Indie Hackers</a></li>
    <li><a target="_blank" href="https://www.producthunt.com/">Product Hunt</a></li>
    <li><a target="_blank" href="https://sideprojects.net/">SideProjects.net</a></li>
    <li><a target="_blank" href="https://www.youtube.com/results?search_query=site%3Ayoutube.com&sp=EgIIAg%253D%253D">YouTube - Most viewed</a></li>
    <li><a target="_blank" href="https://www.expireddomains.net/backorder-expired-domains/">Expired domains</a></li>
</ul>

<p>Other</p>
<ul>
    <li><a target="_blank" href="https://250films.net/">250films</a></li>
    <li><a target="_blank" href="https://www.wikipedia.org/">Wikipedia</a></li>
    <li><a target="_blank" href="https://www.tv.nu/">tv.nu</a></li>
    <li><a target="_blank" href="https://www.braodds.com/">BraOdds</a></li>
    <li><a target="_blank" href="https://texttv.nu/">TextTV</a></li>
    
</ul>
