@inherits LayoutComponentBase

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4">
        <a href="https://johlits.github.io/" target="_blank" class="ml-md-auto">Personal</a>
        <a href="https://palplanner.com" target="_blank" class="ml-md-auto">PalPlanner</a>
        <a href="https://edro.azurewebsites.net/" target="_blank" class="ml-md-auto">EDRO</a>
        <a href="https://online-go.com/" target="_blank" class="ml-md-auto">Online Go</a>
        <a href="https://youtube.com" target="_blank" class="ml-md-auto">YouTube</a>
        <a href="https://github.com/johlits/jhn" target="_blank" class="ml-md-auto">GitHub</a>
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>
